@font-face {
  font-family: "SFP";
  font-style: normal;
  font-display: optional;
  src: url(../public/fonts/SF-Pro.woff)format("woff");
}


html{
  font-family: "modern";
  font-size: large;
}

a{
  text-decoration: none;
  color: black;
  font-size: 3rem;
}
a{
  text-decoration: none;
  color: black;
  font-size: 9vmin;
  letter-spacing: -.005em;
  position: static;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -.022em;
}

.NavLinks{
  margin-top: 23vh;
  text-align: center;
  position: relative;
}

a:hover{
  color:purple;
}

.customize-fab{
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.table{
  margin-bottom:8px;
}